#banP1 {margin-top: 4px; text-align: left; margin-left: 18px}
#banP1Blog {
	margin-top: 15px; 
	margin-right: auto; 
	margin-bottom: 15px;
	margin-left: auto; 
	text-align: center;
}
#banP50 {text-align: center}