@model Nop.Admin.Models.YandexMarket.YandexMarketSpecImportModel

<div>
    @Html.NopLabelFor(model => model.CategoryId):
    @Html.DropDownListFor(model => model.CategoryId, Model.AvailableCategories)

    <script type="text/javascript">
        $(function () {
            $("#@Html.FieldIdFor(model => model.CategoryId)").change(function () {
                $("#onlyNew").click();
            });
        });
    </script>
</div>

<input type="button" id="onlyNew" class="t-button" value="Отобразить только новые" />
<input type="button" id="btnApplyImport" class="t-button" value="Применить" />

<div class="placetags">
    <ul></ul>
</div>

<script type="text/javascript">
    $(function () {
        $('#onlyNew').click(function () {
            $.ajax({
                cache: false,
                type: 'POST',
                url: '@Url.Action("GetNewSpecs", "YandexMarketSpecImport")',
                data: { categoryId: $('#@Html.FieldIdFor(model => model.CategoryId)').val() },
                dataType: 'json',
                success: function (data) {

                    var place = $('.placetags');
                    place.html('');

                    var i = 0;
                    $.each(data, function () {
                        
                        var specLi = $('<li>').append(data[i].Name);
                        var specOptUl = $('<ul>');
                        specLi.append(specOptUl);
                        place.append(specLi);
                        
                        var k = 0;
                        $.each(data[i].SpecificationAttributeOptions, function () {
                            specOptUl.append("<li>" + data[i].SpecificationAttributeOptions[k].Name + "</li>");
                            k++;
                        });

                        i++;
                    });

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                }
            });
            return false;
        });
        


        $('#btnApplyImport').click(function () {
            $.ajax({
                cache: false,
                type: 'POST',
                url: '@Url.Action("ApplyImport", "YandexMarketSpecImport")',
                data: { categoryId: $('#@Html.FieldIdFor(model => model.CategoryId)').val() },
                dataType: 'json',
                success: function (data) {
                    alert(data);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                }
            });
              return false;
          });
    });
</script>
